body{font-family:'Source Sans Pro';overflow-x:hidden}
ul{list-style:none}
h1,h2,h3,h4,h5{font-weight:700}
h1{font-size:45px;line-height:60px}
p{font-size:18px}
a{display:inline-block}
a:hover{text-decoration:none}
.py-70{padding-bottom:70px;padding-top:70px}
.pb-70{padding-bottom:70px}
.pt-70{padding-top:70px}
/*****************/
.header .navbar-light .navbar-nav .nav-link {
	color: #335387;
	font-size: 18px;
}
.header .bg-light{background-color:#fff!important}
.banner-sec{background-color:#fff}
.banner-text{color:#000}
.txtdeco{color:#335387;text-transform:uppercase}
.banner-img img{width:100%}
.banner-text p{font-size:18px}
.header .navbar-expand-lg .navbar-nav .nav-link{padding-right:1.5rem;padding-left:1.5rem}
.common-heading h2::after{content:'';display:block;width:50px;height:3px;background-color:black;text-align:;margin:auto;border-radius:50px;margin-top:10px}
.logo-ul li{margin-right:40px;background-color:#fff;padding:15px;margin-bottom:30px;display:flex;display:-webkit-flex;display:-ms-flex;transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out}
.logo-ul li:last-child{margin-left: 0px;}
.s-mainlogo img{background-color:#fff;padding:15px;transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out}
.logo-ul li:hover,.s-mainlogo img:hover{transform:scale(1.1)}
.logo-ul img{width:150px}
.about-txt{padding:24px;border-radius:5px;box-shadow:0 0 10px 5px #eee}
.about-txt ul li{line-height:40px}
.speaker-img img{border-radius:50%;object-fit:cover;width:150px;height:150px}
.speaker-img{margin-right:20px}
.speaker-box{background-color:#fff;padding:15px;border-radius:5px}
.speaker-box:hover{box-shadow:0 0 10px 5px #eee;transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out}
.speaker-txt h6{color:#888}
.speaker-box{display:flex;display:-webkit-flex;display:-ms-flex;height:100%}
.ticket-box{background:#335387;padding:15px;border:5px;color:#fff;border-radius:5px;border:2px solid #335387;transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out}
.ticket-box h3{display:inline-block}
.ticket-box span{float:right;font-size:30px;font-weight:bold}
.ticket-box button{background-color:#fff;padding:10px 20px;font-size:20px;font-weight:700;color:#335387;border-radius:5px;border:2px solid #ccc;transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out}
.ticket-box button:hover{border:2px solid #fff;background-color:#335387;color:#fff}
.ticket-box:hover{background-color:#fff;color:#335387;border:2px solid #335387}
.contsct-form{width:750px;max-width:750px;margin:auto}
.common-btn{border:2px solid #fff;background:#335387;color:#fff;border-radius:5px;transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;padding:10px 20px;font-size:20px;font-weight:500}
.common-btn:hover{background:#fff;color:#335387;border:2px solid #335387;}
.footer-sec {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 10px 0px;
}
.c4 {
	animation: move 10s infinite ease-in-out alternate;
	-webkit-animation: move 10s infinite ease-in-out alternate;
	-ms-animation: move 10s infinite ease-in-out alternate;
}
@keyframes move {
 0% {
  transform:translateX(0px);
  -webkit-transform:translateX(0px);
  -ms-transform:translateX(0px);
}
     25% {
  transform:translateY(40px);
  -webkit-transform:translateY(40px);
  -ms-transform:translateY(40px);
}
      75% {
  transform:translateX(0px);
  -webkit-transform:translateX(0px);
  -ms-transform:translateX(0px);
}
     100% {
  transform:translateY(40px);
  -webkit-transform:translateY(40px);
  -ms-transform:translateY(40px);
}